---
layout: default
---

<iframe src="{{site.baseurl}}/scratch/webgl_gfx.html" 
    width=800 height=600 frameborder="0"
    scrolling="no" marginheight="0"
    marginwidth="0" ></iframe>

<div class="home">

  <ul class="post-list">
    {% assign sorted_cats = site.categories | sort %}
    {% for category in sorted_cats %}
      <h1>{{ category[0] | capitalize }}</h1>
      {% assign sorted = category[1] | sort %}
      {% for post in sorted %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {{ post.excerpt }}
        </h2>
      </li>
      {% endfor %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
